.footer1{
    background-color: black;
    height: 100vh;
}
.footer{
   display: flex;
   flex-direction: row;
   column-gap: 150px;
   background-color: black;
   color: #32325f
}


.h31{
    text-decoration-line: underline;
    color: white;
}

.h31
.h31,p:hover{
    color: white;
}

.pclass{
        color:white;
        font-weight: bold;
        font-weight: 900px;   
}

.fifth{

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(8, 0, 0);
  color: white;
  text-align: center;
}

.fifth,.p1{
    color: white;
}
.fifth,.p2{
    color: white;
}

.fifth,.p1:hover{
    color: rgb(122, 92, 183);
}
.fifth,.p2:hover{
    color:  rgb(122, 92, 183);
}