<div class="footer1">
  <div class="footer">
    <div class="first">
      <p class="pclass">Cinemania Delight</p>
    </div>

    <div class="second">
      <h3>Join our Newsletter</h3>
      <input type="email" placeholder="Enter your email">
    </div>

    <div class="third">
      <h3 class="h31">Menu</h3>
      <p>Theaters</p>
      <p>IMAX</p>
      <p>playcenter</p>
      <p>Group Events</p>
     <p>Behind the Screen</p>
      <p>Stores</p>
    </div>
    <div class="fourth">
      <H3 class="h31">More</H3>
      <p>Contact us</p>
    </div>

    <div class="fifth">
      <p class="p1">terms of use</p>
      <p class="p1">Privacy Policy</p>
    </div>
  </div>
</div>
